.custom {
  height: 31rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 1rem;
}
.card > div {
  overflow: hidden;
}
.endItem {
  align-self: flex-end;
}
