<div class="card shadow-sm p-2 border-0 custom">
   <div class="text-center">
    <img
    [src]="prod.photo"
    class="card-img-top  w-75"
    alt="product"
    height="230"
    (error) ="onImgError($event)"

  />
   </div>

  <div class="card-body">
    <h5 class="card-title ">
      {{prod.name_en }}
    </h5>
    <p class="card-text main-color fw-500">#{{prod.category['name_en'] }}</p>

  <p>
    <small>{{prod.short_description_en | truncate }}</small>
  </p>
    <div class="text-start endItem">
      <a class="btn btn-main-color rounded-1" routerLink="/products"
      >more details
    </a>
    </div>
  </div>
</div>