<div
  class="card radius-10 border-start border-0 border-3 border-danger bg-light"
>
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div>
        <p class="mb-0 text-secondary fs-5 fw-bold catNameEn">
          {{ item.name_en }}
        </p>
        <h5 class="my-1 text-secondary">
          {{ item.name_ar }}
        </h5>
      </div>
      <div
        class="widgets-icons-2 rounded-circle bg-gradient-bloody main-color ms-auto"
      >
        <i class="fa-solid fa-stethoscope fa-xl"></i>
      </div>
    </div>
  </div>
</div>
